<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">
            Login
        </h1>
        <div class="mb-3">
            <input type="text" placeholder="Email" name="emailInput">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Password" name="passwordInput">
        </div>
        <div class="mb-3">
            <button type="submit" name="submitLoginButton">Login</button>
        </div>
    </div>
</body>
</html>